@font-face {
    font-family: 'ArchivoNarrowBold';
    src: url(../fonts/ArchivoNarrow-Bold.otf);
}

@font-face {
    font-family: 'ArchivoNarrowRegular';
    src: url(../fonts/ArchivoNarrow-Regular.otf);
    padding: 
}

body {
    background: #0099CC;
    font-family: 'ArchivoNarrowRegular', Arial, sans-serif;
}

.container {
    max-width: 1140px;
    display: block;
    margin: 0 auto;
    padding: 2em 0em;
}

.row {
    margin-right:0;
    margin-left: 0;
   
}

header img{
    margin: 4px auto;
    width: 90%;
    max-width: 420px;
}

/*titulo*/
#titulo {
    background: #000033 url(../images/patron-14.png);
    background-size: 400px auto;
    text-align: center;
}

#titulo h1 {
    font-family: 'ArchivoNarrowBold', Arial, sans-serif;
    color: #FFF;
    font-size: 32px;
    margin: 1.5em auto 1em;
    display: inline-block;
    line-height: 1.2em;.
   
}

#titulo h1 strong {
    color: #0099CC;
}

#titulo button {
    background: #0099CC;
    color: #FFF;
    border: 0;
    border-radius: 35px;
    font-size: 20px;
    padding: .8em 2em;
    margin-bottom: 2.3em;
}

#descripcion {
    background: url(../images/bkg-finanzas-retina.jpg)fixed;
    background-size: cover;
    height: 68vh;
    color:#FFF;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;

}

#descripcion p{
    display: flex;
    background: rgba(0,0,56, 0.5);
    height: 45%;
    padding:8vw;
    font-size: 25px;
}

/*pregunta y testimonio titulo*/
#beneficios, #testimonios {
    position: relative;
}  

#beneficios h2, #testimonios h2{
    text-align: center;
    font-family: 'ArchivoNarrowBold', Arial, sans-serif;
    color: #FFF;
    font-size: 62px;
    margin: 70px auto;
    display: inline-block;
    line-height: 1.3em;
    width: 100%;
}

#beneficios h2 strong{
    color:#000038;
}
/*pregunta y testimonio titulo*/


/*Informació y Ejemplo*/

#info {
    background-color: #000038;
    color: #FFF;
    position: relative;
    padding: 2em;
}

#info h3{
    text-align: center;
    font-family:'ArchivoNarrowBold', Arial, sans-serif;
    color: #FFF; 
    margin: .8px;
}

#ejemplos {
    background-color: #FFF;
    padding: auto;
    position: relative;
    padding: 1em;
    padding-bottom: 60px;

}
/*Informació y Ejemplo*/

/*empieza Formulario*/ 

#formulario h1{
    color: #000038;
    text-align: center;
    font-family:'ArchivoNarrowBold', Arial, sans-serif;
    font-size: 60.5px;
    width: 100%
}

#formulario h2{
    text-align: center;
    font-family: 'ArchivoNarrowBold', Arial, sans-serif;
    color: #FFF;
    font-size: 35px;
    width: 100%
}

/*termina Formulario*/


/*empeiza personas*/
#personas h3{
    color: #FFF;
    font-size: 25px;
}
#personas h4{
    font-size: 18px

}
#personas {
    background-color: #000038;
    color: #FFF;
    border-radius: 20px;
    font-size: 14px;
    padding: .8em 2em;
    margin: 5px;
}

/*termina personas*/

#cuadro {
    background-color: #000038;
    padding: 1em .1em;
    color: #FFF;
    border: 0;
    border-radius: 35px;
    font-size: 17px;
    margin: 35px;
    
}

.row{
    text-align: center;
}

#dato {
    color:#FFF;
    display:inline-flex;
    padding-left: .2em .2em;
    position: center;

}

#anuncio spam {
    color: #fff;
    text-align: center;
    font-size: 25px;
}

#anuncio {
    color: #000038;
    text-align: center;
    font-size: 20px;
}
#bajo {
    background-color: #5a98cf;
}

#clic button {
    background: #0099CC;
    color: #FFF;
    border: 0;
    border-radius: 20px;
    font-size: 16px;
    padding: 3vw 16vw;
    margin: 1em 3em;
    align-items: center;

}

#relleno {
    padding: 2em,

}

.box p{
    margin: .2em;
    font-size: 16px;
}

/*empieza bolita*/

.bolita{
    position: absolute;
    border-radius: 100%;
    margin-bottom: 4em;
    width: 10vw;
    height: 10vw;
    display: block;
    left: 45%;
    bottom: -5vw;
    margin: 0;
    max-width: 130px;
    max-height: 130px;
}
img{
    width: 20%
}

.azulMarino{
    background-color:#000038;
}
.azulCielo{
    background-color:#0099CC;
}
.blanca{
    background-color:#FFF;
}

#cajita{
    text-align:center;
}
/*termina mobil*/

/*empeizan estilos*/

@media only screen and (min-width: 48em){
.container {
    width: 100%;}
}

@media only screen and (min-width:600px){

#descripcion p{
        font-size: 28px;}

#cajita img{
        width: 15%;}

#clic button{
        padding: 3vw 3vw;
        margin: 3vw 30vw;
    } 
}
/*termina estilos*/


 /*Aqui van todos los estilos para tablet*/

@media only screen and (min-width:768px) {

    /*titulos container y testimonios*/

    #titulo h1{
        font-size: 45px;
    }
    
    #titulo button {
        font-size: 20px; 
    }

    .container{
        padding: 2em .0em;
    }

    #testimonios h2{
        font-size: 80px;
    }

    #testimonios{
        padding: 2em;
    }

   /*titulos container y testimonios*/

#descripcion p{
        font-size: 30px;
        /*margin: 17px;*/
    }

    #descripcion {
        height: 68vh;
    }

    .bolita{
        left: 45%;
    }
    
    .box p{
        padding: 1em;
       } 


    .img{
        width: 10%;

    }

    #formulario h1{
        font-size: 62px;
    }

    .cajita{
        align-content: center;
    }

    #cuadro
    {
        margin: 2em 10em;
        padding: .8em 8em;
        } 

    #clic button{
        padding: 3vw 3vw;
        margin: 2vw 27vw;
    }

    footer img {
        width: 10%;
    }  
}
    /*Aqui terminan todos los estilos para tablet*/



@media only screen and (min-width:800px) {

    #descripcion p{
        font-size: 30px;}
}

@media only screen and (min-width:1024px) {
    /*Aqui van todos los estilos para laptop*/

    #titulo h1 {
        font-size: 45px;
    }
    #titulo button {
        font-size: 25px;
        margin-bottom: 8em;
    }

    #beneficios h2 {
        font-size: 80px;
    }

    #testimonios h2{
        font-size: 90px;
    } 

    #descripcion p {
        font-size: 34px;
        } 
     #descripcion {
        height: 68vh;
    }
    #formulario h3{
        font-family: 52px;
        margin: auto;
    }

    #cuadro {
        padding: 0em 16em;
    }

    #img{
        margin: 30px auto;
        width: 30%;
        max-width: 120px;
    }

    #info .box img  {
    width: 29%;
    }

    #ejemplos{
        padding: 6em auto;
    }
    
    #cajita .box img{
        width: 8%;
    }

    #anuncio{
        font-size: 25px;
    }
 
}
/*Aqui terminan todos los estilos para laptop*/

