@font-face {
    font-family: 'ArchivoNarrowBold';
    src: url(../fonts/ArchivoNarrow-Bold.otf);
}

@font-face {
    font-family: 'ArchivoNarrowRegular';
    src: url(../fonts/ArchivoNarrow-Regular.otf);
    padding: 
}

body {
    background: #0099CC;
    font-family: 'ArchivoNarrowRegular', Arial, sans-serif;
}

.container {
    max-width: 1140px;
    display: block;
    margin: 0 auto;
}

.row {
    margin-right: 0;
   
}


header img{
    margin: 4px auto;
    width: 90%;
    max-width: 420px;
}

#titulo {
    background: #000033 url(../images/patron-14.png);
    background-size: 400px auto;
    text-align: center;
}

#titulo h1 {
    font-family: 'ArchivoNarrowBold', Arial, sans-serif;
    color: #FFF;
    font-size: 32px;
    margin: 1.5em auto 1em;
    display: inline-block;
    line-height: 1.2em;
    width: 90%;
}

#titulo h1 strong {
    color: #0099CC;
}

#titulo button {
    background: #0099CC;
    color: #FFF;
    border: 0;
    border-radius: 35px;
    font-size: 20px;
    padding: .8em 2em;
    margin-bottom: 2.3em;

}

#descripcion {
    background: url(../images/bkg-finanzas-retina.jpg)fixed;
    background-size: cover;
    height: 68vh;
    color:#FFF;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;

}

#descripcion p{
    display: flex;
    background: rgba(0,0,56, 0.5);
    height: 45%;
    padding:20px;
    font-size: 5vw;

}

#beneficios, #testimonios {
    position: relative;
}  

#beneficios h2, #testimonios h2{
    text-align: center;
    font-family: 'ArchivoNarrowBold', Arial, sans-serif;
    color: #FFF;
    font-size: 62px;
    margin: 70px auto;
    display: inline-block;
    line-height: 1.3em;
    width: 100%;
}

#beneficios h2 strong{
    color:#000038;

}
#info {
    background-color: #000038;
    padding: 90 auto  ;
    color: #FFF;
    position: relative;
}
#info h3{
    text-align: center;
    font-family:'ArchivoNarrowBold', Arial, sans-serif;
    color: #FFF; 
    margin: 25
}

#ejemplos {
    background-color: #FFF;
    padding: auto;
    position: relative;

}
/*empieza Formulario*/ 

#formulario h2{
    color: #000038;
    text-align: center;
    text-align:center;
    font-family:'ArchivoNarrowBold', Arial, sans-serif;
    font-size: 62px;
    margin: 70px auto;
    display: inline-block;
    line-height: 1.3em;
    width: 100%
}

#formulario h3{
    text-align: center;
    font-family: 'ArchivoNarrowBold', Arial, sans-serif;
    color: #FFF;
    font-size: 62px;
    margin: 70px auto;
    display: inline-block;
    line-height: 1.3em;
    width: 100%
}

#personas h3{
    color: #FFF;
    font-size: 25px;
}
#personas h4{
    font-size: 18px

}
#personas {
    background-color: #000038;
    color: #FFF;
    border-radius: 20px;
    font-size: 14px;
    padding: .8em 2em;
    margin: 4em;
}

#cuadro {
    background-color: #000038;
    padding: .5em 2em;
    color: #FFF;
    border: 0;
    border-radius: 35px;
    font-size: 17px;
    margin: 55px;
}

#dato {
    color:#FFF;
    display:inline-flex;
    padding-left: .2em .2em;
    position: center;

}

#anuncio spam {
    color: #5a98cf;
}

#anuncio {
    color: #000038
}
#bajo {
    background-color: #5a98cf;
}

#clic button {
     background: #0099CC;
    color: #FFF;
    border: 0;
    border-radius: 20px;
    font-size: 14px;
    padding: .8em 2em;
    margin-bottom: 4em;
    margin: 2em;  
}

#relleno {
    padding: 2em,

}

.bolita{
    position: absolute;
    border-radius: 100%;
    margin-bottom: 4em;
    width: 10vw;
    height: 10vw;
    display: block;
    left: 45%;
    bottom: -5vw;
    margin: 0;
    max-width: 130px;
    max-height: 130px;
}

.azulMarino{
    background-color:#000038;
}
.azulCielo{
    background-color:#0099CC;
}
.blanca{
    background-color:#FFF;
}



@media only screen and (min-width:768px) {
    /*Aqui van todos los estilos para tablet*/

    #titulo h1{
        font-size: 45px;
    }
    
    #titulo button {
        font-size: 20px; 
    }

    #testimonios h2{
        font-size: 80px;
    }

    #descripcion p{
        font-size: vw;
    }

    #descripcion {
        height: 68vh;

    }
    /*Aqui terminan todos los estilos para tablet*/
}

@media only screen and (min-width:1200px) {
    /*Aqui van todos los estilos para laptop*/

    #titulo h1 {
        font-size: 45px;
    }
    #titulo button {
        font-size: 25px;
        margin-bottom: 8em;
    }

    #beneficios h2 {
        font-size: 80px;
    }

    #testimonios h2{
        font-size: 90px;
    } 

    #descripcion p {
        font-size: 3vw;
        } 
     #descripcion {
        height: 68vh;
    }
    #formulario h3{
        font-family: 52px;
        margin: auto;
    }

    #cuadro {
        padding: ,8em 21,5em;
        margin: 8em;
    }
    #img{
        margin: 30px auto;
        width: 90%;
        max-width: 120px;
      /*Aqui terminan todos los estilos para laptop*/
    }
}