@font-face {
    font-family: 'ArchivoNarrowBold';
    src: url(../fonts/ArchivoNarrow-Bold.otf);
}

@font-face {
    font-family: 'ArchivoNarrowRegular';
    src: url(../fonts/ArchivoNarrow-Regular.otf);
    padding: 
}

body {
    background: #0099CC;
    font-family: 'ArchivoNarrowRegular', Arial, sans-serif;
}

.container {
    max-width: 1140px;
    display: block;
    margin: 0 auto;
    padding: 2em 0em;
}

.row {
    margin-right:0;
    margin-left: 0;
   
}

header img{
    margin: 4px auto;
    width: 90%;
    max-width: 420px;
}

/*titulo*/
#titulo {
    background: #000033 url(../images/patron-14.png);
    background-size: 400px auto;
    text-align: center;
}

#titulo h1 {
    font-family: 'ArchivoNarrowBold', Arial, sans-serif;
    color: #FFF;
    font-size: 32px;
    margin: 1.5em auto 1em;
    display: inline-block;
    line-height: 1.2em;.
   
}

#titulo h1 strong {
    color: #0099CC;
}

#titulo button {
    background: #0099CC;
    color: #FFF;
    border: 0;
    border-radius: 35px;
    font-size: 20px;
    padding: .8em 2em;
    margin-bottom: 2.3em;
}

#descripcion {
    background: url(../images/bkg-finanzas-retina.jpg)fixed;
    background-size: cover;
    height: 68vh;
    color:#FFF;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

#descripcion p{
    display: flex;
    background: rgba(0,0,56, 0.5);
    height: 45%;
    padding:8vw;
    font-size: 25px;
}

@media only screen and (min-device-width : 320px) and (max-device-width : 667px) and (-webkit-min-device-pixel-ratio: 2) {
 /* STYLES GO HERE */
 #descripcion {
    background: url(../images/bkg-finanzas-retina.jpg);
    background-size: cover;
}
}


/*pregunta y testimonio titulo*/
#beneficios, #testimonios {
    position: relative;
}  

#beneficios h2, #testimonios h2{
    text-align: center;
    font-family: 'ArchivoNarrowBold', Arial, sans-serif;
    color: #FFF;    
    font-size: 45px;
    margin: 70px auto;
    display: inline-block;
    line-height: 1.3em;
    width: 100%;
}

#beneficios h2 strong{
    color:#000038;
}
/*pregunta y testimonio titulo*/


/*Informació y Ejemplo*/

#info {
    background-color: #000038;
    color: #FFF;
    position: relative;
    padding: 2em;
}

#info h3{
    text-align: center;
    font-family:'ArchivoNarrowBold', Arial, sans-serif;
    color: #FFF; 
    margin: .8px;
}

#ejemplos {
    background-color: #FFF;
    padding: auto;
    position: relative;
    padding: 1em;
    padding-bottom: 60px;

}
/*Informació y Ejemplo*/

/*empieza Formulario*/ 

#formulario h1{
    color: #000038;
    text-align: center;
    font-family:'ArchivoNarrowBold', Arial, sans-serif;
    font-size: 60.5px;
    width: 100%
}

#formulario h2{
    text-align: center;
    font-family: 'ArchivoNarrowBold', Arial, sans-serif;
    color: #FFF;
    font-size: 35px;
    width: 100%
}
#clic {
    padding-left: 13vw;
}

/*termina Formulario*/


/*empeiza personas*/
#ejemplos img{
    margin-right: 50vw;
    width: 20vw;
    height: 20vw;
    max-width: 150px;
    max-height: 150px;
    border-radius: 100%;
    padding: .8em 0em;
    object-fit: cover;
}

#personas h3{
    color: #FFF;
    font-size: 20px;
    margin-top: -4em;
    margin-left: 4em;
}
#personas h4{
    font-size: 12px;
    margin-top: -1em;
    margin-left: 10em;
}
#personas {
    background-color: #000038;
    color: #FFF;
    border-radius: 45px;
    font-size: 14px;
    padding: .8em 2em;
    margin: 5px;
}

#icono img{
    width: 4vw;
    height: 4vw;
    margin-right:12vw;
    margin-top: -9em;
    padding: 2em; 
}
/*termina personas*/

#cuadro {
    background-color: #000038;
    padding: 1em .1em;
    color: #FFF;
    border: 0;
    border-radius: 35px;
    font-size: 19px;
    margin: 20px;    
}

.row{
    text-align: center;
}

.dato {
    color:#FFF;
    display:inline-flex;
    padding-left: .2em;
    position:relative;

}

#anuncio spam {
    color: #fff;
    text-align: center;
    font-size: 25px;
}

#anuncio {
    color: #000038;
    text-align: center;
    font-size: 20px;
}
#bajo {
    background-color: #5a98cf;
}

#clic button {
    background: #0099CC;
    color: #FFF;
    border: 0;
    border-radius: 20px;
    font-size: 16px;
    padding: 3vw 11vw;
    margin: 1em .9em;
    align-items: center;
}


.relleno {
    padding:0em;
}

.box p{
    margin: .2em;
    font-size: 16px;
    color: #fff;
    padding-top: 4vw;
}

/*empieza bolita*/

.bolita{
    position: absolute;
    border-radius: 100%;
    margin-bottom: 4em;
    width: 10vw;
    height: 10vw;
    display: block;
    left: 45%;
    bottom: -5vw;
    margin: 0;
    max-width: 130px;
    max-height: 130px;
}
#info img{
    width: 35%
}
.azulMarino{
    background-color:#000038;
}
.azulCielo{
    background-color:#0099CC;
}
.blanca{
    background-color:#FFF;
}

#cajita{
    text-align:center;
}

#cajita img{
        width: 15%;
}

.box {
    margin-bottom: 1em;
}

footer {
        background-color: #000038;
        position: relative;
        padding: 20px 0px 0px;
    }

footer img {
        width: 10%;
    }
#anuncio p{
    margin: .8em 3em;
    padding: .5em 0em;
}

/*termina mobil*/

/*empeizan estilos*/

@media only screen and (min-width:600px){

#descripcion p{
        font-size: 26px;}

#cajita img{
        width: 15%;}

#clic button{
        padding: 2vw 10vw;
        margin: 1em 6em; 
   }
   
#testimonios h2{
    font-size: 55px;
}  

img{
    width: 23%;}
}

/*termina estilos*/


 /*Aqui van todos los estilos para tablet*/

@media only screen and (min-width:768px) {

    .container {
    width: 100%;}
    

    #titulo h1{
        font-size: 45px;
    }
    
    #titulo button {
        font-size: 20px;
        margin-left: 14em;
        padding-left: 1.5em; 
    }

    .container{
        padding: 2em .0em;
    }

    #testimonios h2{
        font-size: 80px;
    }

    #testimonios{
        padding: 2em;
    }


#descripcion p{
        font-size: 30px;
        
    }

    #descripcion {
        height: 68vh;
    }

    .bolita{
        left: 45%;
    }
    
    .box p{
        padding: 0em;
        font-size: 18px;
       } 

    .img{
        width: 10%;

    }

    #formulario h1{
        font-size: 62px;
    }
    
    .cajita{
        align-content: center;
    }

    #cuadro
    {
        margin: 2em 10em;
        padding: .8em 8em;
        } 

    #clic button{
        padding: 3vw 3vw;
        margin: 2vw 27vw;
    }

    footer img {
        width: 10%;
    }  
}
    /*Aqui terminan todos los estilos para tablet*/



@media only screen and (min-width:800px) {

    img{
        width: 18%
    }

    #cuadro{
        font-size: 17px;
    }

    #info h3{
        font-size: 23px;
    }

    .box p{
        padding: 0em;
        font-size: 18px;
    }
    #clic button{
        padding: .8vw 4vw;
        margin: 2vw;
    }
    .dato{
        padding-left: .2em;
    }

    .relleno {
    padding: .3em 0em;
    }

    #cajita img{
        width: 10%
    }
}


@media only screen and (min-width:1024px) {
    /*Aqui van todos los estilos para laptop*/

    #titulo h1 {
        font-size: 45px;
    }
    #titulo button {
        font-size: 25px;
        margin-bottom: 8em;
    }

    #beneficios h2 {
        font-size: 80px;
    }

    #testimonios h2{
        font-size: 90px;
    } 

    #descripcion p {
        font-size: 34px;
        } 
     #descripcion {
        height: 68vh;
    }
    #formulario h3{
        font-family: 52px;
        margin: auto;
    }

    #cuadro {
        padding: 0em 16em;
    }

    #img{
        margin: 30px auto;
        width: 30%;
        max-width: 120px;
    }

    #info .box img  {
    width: 29%;
    }

    #ejemplos{
        padding: 6em auto;
    }
    
    #cajita .box img{
        width: 8%;
    }

    #anuncio{
        font-size: 25px;
    }
 
}
/*Aqui terminan todos los estilos para laptop*/

